span {
    padding-right: 30px;
}

.bold {
    font-weight: bold;
}

.left {
    float: left;
    width: 25%;
    height: 750px;
    background-color: rgb(101, 165, 250);
}

.left h1 {
    color: #fff;
    margin-top: 50px;
    text-align: center;
}

.main {
    float: left;
    /* width: 75%; */
    height: 750px;
    padding-left: 3%;
}